<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include ("../elementos/head") %>    
</head>

<body>
    <div class="container bg-primary-subtle rounded border border-info mx-auto m-2">
        <%- include ("../elementos/menu") %>
    </div>

    <div class=" p-3 mt-2 container bg-primary-subtle rounded border border-info mx-auto m-2 ">
        <p class="text-center">Formulário de Adicionar Noticias</p>
        <form action="formulario_inclusao_noticias" method="post">
            <div class="mb-3">
                <label for="titulo" class="form-label">Titulo Noticia</label>
                <input type="text" class="form-control" id="titulo">
            </div>
            <div class="mb-3">
                <label for="noticia" class="form-label">Informe Noticia</label>
                <textarea class="form-control" id="noticia" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Enviar Noticias</button>
            </div>
        </form>
    </div>
    <%- include ("../elementos/footer") %>
</body>

</html>